/* Navbar */
.nav__logo {
  object-fit: contain;
  height: 64px;
}

/* Main section */
.main {
  background-color: crimson;
}
a.canvasjs-chart-credit {
  display: none;
}

.label__list {
  padding: 0;
}
.chart__label {
  padding-top: 1rem;
  font-size: 0.8rem;
  height: 35px;
}

#poke-image1,
#poke-image2 {
  height: 128px;
}

.container {
  width: 90%;
}

.vs {
  z-index: 0;
}

.card {
  z-index: 1;
}

#btn1 {
  background-color: #2196f3;
}

#btn2 {
  background-color: #ff3d00;
}

.card-content.grey {
  /* height: ; */
}

.pokemon .row {
  margin-bottom: 0;
}

#btnRandom1 {
  /* background-color: #ffb000; */
  background-color: #d0106f;
}

button {
  border-radius: 10px;
}

#form1 {
  padding-right: 0;
}

#stats {
  height: 260px;
}

#banner {
  height: 100px;
  background-color: black;
  /* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)); */
}

#banner img {
  height: 100px;
  width: 40%;
  object-fit: cover;
  object-position: 0 calc(100vw -170px);
}

/* #banner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
  height: 150px;
  display: inline-block;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%); W3C
} */
