/* Navbar */
.nav-wrapper {
  padding: 0 3rem;
  margin-bottom: 1rem;
}
.nav__logo {
  object-fit: contain;
  height: 64px;
}

/* Main section */
.main {
  background-color: crimson;
}
a.canvasjs-chart-credit {
  display: none;
}

.label__list {
  padding: 0;
}
.chart__label {
  padding-top: 1rem;
  font-size: 0.8rem;
  height: 50px;
}

#poke-image1,
#poke-image2 {
  /* max-height: 360px; */
  width: 100%;
  object-fit: auto;
  object-position: center;
}

.container {
  width: 90%;
}

.vs {
  z-index: 0;
}

.card {
  z-index: 1;
}

#btn1 {
  background-color: #2196f3;
}

#btn2 {
  background-color: #ff3d00;
}

.pokemon .row {
  margin-bottom: 0;
}

#btnRandom1 {
  /* background-color: #ffb000; */
  background-color: #d0106f;
}

button {
  border-radius: 10px;
}

#form1 {
  padding-right: 0;
}

#stats {
  height: 260px;
}

#banner {
  height: 200px;
  background-color: black;
  /* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)); */
}

#banner img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 0 -350px;
}
